.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.nupkg
*.snupkg
*.cache
*.pdb
*.mdb
*.opendb
*.db
*.sqlite
*.sqlite3
*.local.json
*.Development.json
appsettings.*.json
TestResults/
coverage*/
*.coverage
*.coveragexml
*.trx
Internalway.Tools/
tools/
